Pillow==9.3.0
click==8.1.3
cmake==3.25.0
colorama==0.4.6
cvzone==1.5.6
dlib==19.24.0
face-recognition==1.3.0
face-recognition-models==0.3.0
importlib-metadata==5.1.0
numpy==1.24.3
opencv-python==4.5.4.60
setuptools==57.0.0
typing-extensions==4.4.0
wheel==0.36.2
zipp==3.11.0
firebase-admin==7.1.0